<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8" />
    <!-- 引入 Bootstrap -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.bootgrid.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.bootgrid.min.css">
    <link rel="stylesheet" type="text/css"
        th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>

<body>
    <!-- <div class="h1 text-center">Welcome</div>
    <div class="h1 text-center">User analysis</div> -->

    <!-- 2.为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="col-md-12">
        <div id="bar" style="width: 1100px; height: 250px;"></div>

        <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th data-column-id="uid" data-identifier="true" data-type="numeric">查询用户id</th>
                    <th data-column-id="count">查询数</th>
                </tr>
            </thead>
            <tbody id="grid-body">

            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        //更换暗色主题
        var myChart = echarts.init(document.getElementById('bar'), "dark");

        //3.初始化，默认显示标题，图例和xy空坐标轴
        myChart.setOption({

            title: {
                text: '查询用户访问排名（频度最高的前 20 ）'
            },
            tooltip: {},

            legend: {

                data: ['用户']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: '用户',
                type: 'bar',
                data: []
            }]
        });

        //4.设置加载动画(非必须)
        myChart.showLoading(); //数据加载完之前先显示一段简单的loading动画



        /* $("#grid-data").bootgrid({
            ajax: true,
            post: function () {
                return;
            },
            url: "hive2/qryKeyWord/log_sample",
            formatters: {
                "link": function (column, row) {
                    return "<a href=\"#\">" + column.id + ": " + row.id + "</a>";
                }
            },
            labels: {
                all: "全部",
                //表头左边显示提示信息
                //infos: "显示{{ctx.start}}～{{ctx.end}}条， 总{{ctx.total}}条",
                loading: "加载中...",
                noResults: "没有相关数据",
                refresh: "刷新中...",
                search: "查询中..."
            },
            //data为从java返回的所有数据
            responseHanlder: function (data) {
  
            }

        });
 */

        //6.ajax发起数据请求
        $.ajax({
            type: "get",
            async: true, //异步请求（同步请求将会锁住浏览器，其他操作须等请求完成才可执行）
            url: "hive2/qryUser/log_sample", //请求发送到TestServlet
            data: {},
            dataType: "json", //返回数据形式为json

            //7.请求成功后接收数据name+num两组数据
            success: function (result) {
                //result为服务器返回的json对象
                if (result) {
                    var user = [];
                    var count = [];
                    //var data = result.rows;
                    //8.取出数据存入数组（前10）
                    for (var i = 0; i < 10; i++) {
                        user.push(result[i].uid); //迭代取出类别数据并填入类别数组
                        count.push(result[i].count); //迭代取出销量并填入销量数组
                    }
                    var str = ''
                    for (var i = 0; i < Math.min(20, result.length); i++) {
                        str = str + '<tr data-row-id=""><td class="text-left" style="width: 500px;">' + result[i].uid + '</td>'
                                  + '<td class="text-left" style="width: 500px;">' + result[i].count + '</td></tr>';
                    }
                    $('#grid-body').html(str);

                    myChart.hideLoading(); //隐藏加载动画

                    //9.覆盖操作-根据数据加载数据图表
                    myChart.setOption({
                        title: {
                            text: '查询用户排名（频度最高的前 20 ）'
                        },
                        tooltip: {},

                        legend: {

                            data: ['查询用户']
                        },

                        xAxis: {
                            data: user,
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLabel: {
                                formatter: function (val) {
                                    //显示前六个字符，解决x轴标签过长时，柱状图部分item项不显示
                                    return val.substring(0, 5) + "..";
                                }
                            }
                        },
                        yAxis: {},
                        series: [{
                            name: '查询用户',
                            type: 'bar',
                            data: count,
                            label: {
                                show: true,
                                position: 'top',
                                //color: '#fff'
                            }
                        }]

                    });

                }

            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        })
    </script>



</body>

</html>